
/* CSS Reset and Univeral Styling */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #50504E;
  color:#ffffff;  
}


/* Header and Nav Styling Section */
header{
  display:flex;
  flex-wrap: wrap;
  border:3px solid #ffffff;
 }
header h1{
  background-color: #2E95C8;
  text-align: center;  
  width:100%;
}
nav{
  flex-direction: column;
  display:flex;
  width:100%;
}
ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #3D7692;
  list-style-type: none;
  padding-bottom: 2px;
}
li{
  background-color: #3D7692;
  text-align: center;
  text-decoration: underline;
}
a{
  background-color: #3D7692;
}


/* Main */
article{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 10px
}
h2{
 border-bottom: 2px solid white;
 width: 100%;
 }
section{
  margin: 4px 0px;
}

/* Work Article Styling Section */
.work div{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 10px 
}

.big{
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(https://github.com/BerlicTheHunter/BootCampHomework1/blob/main/assets/images/digital-marketing-meeting.jpg?raw=true);
  background-size: cover;
  background-position: center;
}
.small{
display: relative;
width: 100%;
Height: 150px;
}
#space_cat{
  background-image: url(https://github.com/BerlicTheHunter/BootCampHomework2/blob/main/Assests/Images/space_cat.jpg?raw=true);
  background-size: cover;
  background-position:bottom;
}
#draft{
  background-image: url(https://github.com/BerlicTheHunter/BootCampHomework2/blob/main/Assests/Images/draft.jpg?raw=true);
  background-size: cover;
}
#caution_sign{
  background-image: url(https://github.com/BerlicTheHunter/BootCampHomework2/blob/main/Assests/Images/caution_sign.jpg?raw=true);
  background-size: cover;
  background-position: bottom;
}
h3{
  box-shadow: 2px 2px #3D7692; 
  padding: 5px;
  background-color: #2e95c8;
  width: max-content; 
  position:relative;
  top: 10%;
}

/* Contact Article Styling */
.contact{
flex-direction: column;
}

@media screen and (min-width: 768px){
/* alterations to Header and Nav */
/* *{
  border: 2px solid yellow;
} */

header{ 
border: 0px;
justify-content: space-between;
align-items: baseline;
background-color: #2E95C8;
}
Header h1{
  padding:0px 5px;
  width: max-content;
  text-align: left;
  font-size: 60px;
}
nav{ 
width: max-content;
justify-content: right;
Width: 50%;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul li a{
  font-size: 30px;
  background-color: #3D7692;
}

/* Alterations to Main */
article {
   flex-direction: row;
   justify-content: space-between;
   width: 95%;
}

h2{
  width:10%;
  border-bottom: 0px;
  border-right: 5px solid #ffffff;
  text-align: right;
  padding: 5px;
}
p{
  width: 30%;
  font-size: 30px;
  flex:2 1 auto%;
}
.work{
  justify-content: right;
}
.work div{
  width:90%;
}
.big{
  width:97%;
  margin:1% 0px;
}
.small{
  width: 31%;
  margin: 1%;
}

/* Alterations to Contact */
.contact{
  flex-direction: row;
  justify-content: center;
}

.contact ul{
  width: 90%;
  font-size: 30px;
  }

}

